.Layout > .NavBar, .LV.Logo, .LV.Login, .LV.Signup, .Profile .Info,
.Browse .Info, .Profile .Column,
.Browse .Column, .Profile .Msg,
.Browse .Msg {
  padding: 1rem;
}

.Image {
  width: 100%;
}

.Column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Btn1 {
  margin: 0.2rem 0 0.2rem 0;
}

body {
  margin: 0;
}

body div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body p {
  margin: 0px;
}

.Active {
  color: salmon;
}

.Layout {
  display: none;
}

.Layout > .NavBar {
  background-color: oldlace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.Layout > .NavBar h2 {
  margin: 0;
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
}

.Layout > .NavBar h2:hover {
  cursor: pointer;
  color: lightsalmon;
}

.View {
  display: none;
  padding: 0.5rem;
}

.View > .Login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.LV {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.LV.Logo {
  background-color: oldlace;
  -webkit-box-flex: calc(1 / 2);
      -ms-flex-positive: calc(1 / 2);
          flex-grow: calc(1 / 2);
  -ms-flex-preferred-size: 340px;
      flex-basis: 340px;
  margin-right: 10px;
}

.LV.Column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: calc(1 / 2);
      -ms-flex-positive: calc(1 / 2);
          flex-grow: calc(1 / 2);
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.LV.Login {
  background-color: oldlace;
  -webkit-box-flex: calc(1 / 3);
      -ms-flex: calc(1 / 3);
          flex: calc(1 / 3);
  margin-bottom: 10px;
}

.LV.Signup {
  background-color: oldlace;
  -webkit-box-flex: calc(2 / 3);
      -ms-flex: calc(2 / 3);
          flex: calc(2 / 3);
}

.Profile,
.Browse {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Profile .Info,
.Browse .Info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(2 / 6);
          flex: 0 1 calc(2 / 6);
}

.Profile .Column,
.Browse .Column {
  -webkit-box-flex: calc(3 / 5);
      -ms-flex: calc(3 / 5) 1 0px;
          flex: calc(3 / 5) 1 0;
}

.Profile .Column textarea,
.Browse .Column textarea {
  width: 100%;
  height: 100px;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.Profile .Column button,
.Browse .Column button {
  margin-top: 0.5rem;
  display: block;
}

.Profile .Msg,
.Browse .Msg {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.Profile .Msg h3,
.Browse .Msg h3 {
  margin: 0;
  margin-top: 0.5rem;
}

.Profile form,
.Browse form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
/*# sourceMappingURL=client.css.map */